@import '../../util/variable/variable.scss';

// Navbar
.navbar-pageCard{
    display: flex;
    height: auto;
    padding: 30px 0 25px 0;
    width: 100%;
    // background: $colorTiga;
    // box-shadow: $boxShdwNavPage;
    // position: fixed;
    z-index: 11;

    // Row nav
    .row-nav-pageCard{
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: $padNavPage;

        // Btn Back Page Nav
        .btn-back-nav-pageCard{
            display: flex;
            position: absolute;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            left: 20px;

            span{
                font-size: $fontSzBtnBckNav;
                color: #555;
            }
        }
        // END Btn Back Page Nav

        // Title Page Nav
        .title-page-nav-pageCard{
            display: flex;
            font-size: $fontSzTitNav;
            color: #555;
            font-weight: bold;
            text-decoration: none;
        }
        // END Title Page Nav
    }
    // END Row nav
}
// END Navbar