@import '../../util/variable/variable.scss';

// Navbar
.navbar-pageCard{
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    margin: 30px 0 25px 0;
    width: 100%;
    // background: $colorTiga;
    // box-shadow: $boxShdwNavPage;
    // position: fixed;
    z-index: 11;
    overflow: hidden;

    // Row nav
    .row-nav-pageCard{
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: $padNavPage;
        overflow: hidden;

        // Btn Back Page Nav
        .btn-back-nav-pageCard{
            display: flex;
            position: absolute;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            left: 20px;

            span{
                font-size: $fontSzBtnBckNav;
                color: #555;
            }
        }
        // END Btn Back Page Nav

        // Title Page Nav
        .title-page-nav-pageCard{
            display: flex;
            font-size: $fontSzTitNav;
            color: #555;
            font-weight: bold;
            text-decoration: none;
        }
        // END Title Page Nav

        .container-box-icon-nav{
            display: none;
            position: absolute;
            right: 20px;

            // Wrapp-box-icon
            .wrapp-box-icon{
                display: flex;
                position: relative;
                padding-left: 5px;
                padding-top: 5px;
                padding-bottom: 5px;

                .box-icon{
                    display: flex;
                    height: 30px;
                    width: 30px;
                    border-radius: 15px;
                    justify-content: center;
                    align-items: center;
                    // background-color: $colorTigaBelas;
                    // box-shadow: 0 1px 2px -1px rgba(0,0,0,0.1);
                    text-decoration: none;
            
                    i{
                        display: flex;
                        font-size: 15pt;
                        color: #555;
                        text-decoration: none;
                    }
            
                    .angka-notif{
                        display: flex;
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        border-radius: 500px;
                        justify-content: center;
                        align-items: center;
                        font-size: 10pt;
                        background-color: $colorLimaBelas;
                        color: #fff;
                        top: 0;
                        left: 0;
                    }
                }
            }
            // END Wrapp-box-icon
        }
    }
    // END Row nav
}
// END Navbar