@import '../../util/variable/variable.scss';

.btn-kategori-menu{
    display: flex;
    font-size: 12pt;
    color: #ddd;
    text-decoration: none;
    border: none;
    outline: none;
}

.active-menu{
    display: flex;
    color: $colorLimaBelas;
}