@import '../../../util/variable/variable.scss';

.wrapp-transaksi{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 10px 0px;
    margin-top: 55px;
    text-align: start;
    margin-bottom: 55px;

    // deskripsi alamat
    .deskripsi-alamat{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: 10px;
        border-bottom: 5px solid #ddd;
        padding: 20px 10px;

        .title-alamat{
            display: flex;
            font-size: 12pt;
            font-weight: bold;
        }
    }
    // end deskripsi alamat

    // pembayaran
    .pembayaran{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px -1px rgba(0,0,0,0.1);
        margin: 20px 10px;
        padding: 20px 30px;

        .title-pembayaran{
            display: flex;
            font-size: 12pt;
            font-weight: bold;
        }

        .card-pembayaran{
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;

            // Container logo
            .container-logo-pembayaran{
                display: flex;
                height: auto;
                width: 100%;
                align-items: center;

                .logo-pembayaran{
                    display: flex;
                    height: 70px;
                    width: 70px;
                }

                .name-logo{
                    display: flex;
                    font-size: 9pt;
                    color: #888;
                    margin-left: 10px;
                }
            }            
            // end container logo

            .kurir-pengiriman{
                display: flex;
                font-size: 9pt;
                color: #888;
                line-height: 20px;
            }

            .pilih-kurir{
                display: flex;
                height: auto;
                width: 100px;
                align-items: center;
                border: 1px solid $colorTiga;
                border-radius: 5px;
                outline: none;
                background-color: transparent;
                padding: 5px;
                font-size: 9pt;
                font-weight: bold;
                margin-top: 10px;
                justify-content: space-between;

                i{
                    display: flex;
                    margin-right: 5px;
                }
            }
        }
    }
    // end pembayaran

    // bayar
    .bayar{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px -1px rgba(0,0,0,0.1);
        margin: 0px 10px;
        padding: 20px 0px;

        .column-btn-bayar{
            display: flex;
            height: auto;
            width: auto;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px 10px 30px;
            border-bottom: 1px solid #ddd;

            .total-harga{
                display: flex;
                font-size: 12pt;
                font-weight: bold;
            }
        } 

        .deskripsi-total-harga{
            display: flex;
            font-size: 9pt;
            color: #888;
            padding: 10px 30px 0 30px;
            line-height: 20px;
        }
    }
    // end bayar
}