@import '../../util/variable/variable.scss';

.link-kategori{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 10vh;
    width: 100%;
    text-align: start;
    justify-content: start;
    padding: 5px 0;
    margin: 5px 0;
    text-decoration: none;
    overflow: hidden;

    .title-kategori-profil{
        display: flex;
        font-size: 12pt;
        color: $colorLima;
        align-items: center;
        overflow: hidden;
        
        i{
            display: flex;
            width: 20px;
            margin-right: 5px;
        }
    }

    .box-deskripsi-ktg{
        display: flex;
        height: auto;
        width: 100%;
        margin-top: 10px;
        margin-left: 25px;
        padding-right: 20px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        justify-content: space-between;
        overflow: hidden;

        .deskripsi-kategori-profil{
            display: -webkit-box;
            width: 100%;
            font-size: 10pt;
            color: #aaa;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        // icon next
        .next{
            display: flex;
            height: auto;
            width: auto;
            font-size: 15pt;
            color: #ddd;
            overflow: hidden;
            padding-left: 10px;
        }
        // end icon next
    }   
}