rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**}{
      allow read: if true
    }
  //   match /{userId}/{docId}{
  //     allow read: if authentication() && request.auth.uid == resource.data.userId;
  //     allow create: if authentication() && request.auth.uid == request.resource.data.userId;
  //   }
  // }

  // function authentication(){
  //   return request.auth != null
  // }
  }
}

