@import '../../util/variable/variable.scss';

.wrapper-login{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $colorLimaBelas;
    z-index: 11111;
    overflow-y: hidden;

    .bg-login{
        display: flex;
        position: relative;
        height: 60vh;
        width: 100%;
        background-color: $colorTiga;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        overflow: hidden;
        box-shadow: 0 3px 10px rgba(0,0,0,0.5);

        .goLogin{
            display: flex;
            position: absolute;
            height: auto;
            width: auto;
            font-size: 12pt;
            color: #fff;
            font-weight: 500;
            top: 10px;
            right: 20px;
            z-index: 1111;
            text-decoration: none;
        }

        .img-login{
            display: flex;
            position: absolute;
            height: 60vh;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-bottom-left-radius: 5%;
            border-bottom-right-radius: 5%;
        }

        .bg-transparant{
            display: flex;
            flex-direction: column;
            position: absolute;
            height: 60vh;
            width: 100%;
            background-color: rgba(0,0,0,0.6);
            border-bottom-left-radius: 5%;
            border-bottom-right-radius: 5%;

            .wellcome{
                display: flex;
                height: auto;
                width: 100%;
                justify-content: center;
                text-align: center;
                font-size: 20pt;
                color: #fff;
                margin-top: 40px;
                text-shadow: 2px 2px rgba(0,0,0,0.5);
            }

            .box-title{
                display: flex;
                position: relative;
                height: auto;
                width: auto;
                padding-bottom: 5px;

                .title-login{
                    display: flex;
                    color: #fff;
                    opacity: 0.9;
                    font-size: 15pt;
                    font-weight: 500;
                    margin: 20px 0 0 20px;
                }

                .garis-login{
                    display: flex;
                    position: absolute;
                    height: 2px;
                    width: 30px;
                    background-color: #fff;
                    border-radius: 10px;
                    bottom: 0;
                    left: 20px;
                    opacity: 0.9;
                }
            }

            .form-login{
                display: flex;
                flex-direction: column;
                height: auto;
                width: auto;
                margin: 30px 20px 0 20px;
                border-radius: 10px;

                .email{
                    display: flex;
                    position: relative;

                    .garis-email{
                        display: flex;
                        position: absolute;
                        height: 2px;
                        width: auto;
                        background-color: #ddd;
                        bottom: 0;
                        left: 20px;
                        right: 20px;
                    }
                }

                .box-input{
                    display: flex;
                    position: relative;
                    height: 45px;
                    width: 100%;

                    .txt-input{
                        display: flex;
                        height: auto;
                        width: 100%;
                        border: none;
                        outline: none;
                        padding: 0 50px;
                        font-size: 12pt;
                        font-weight: bold;
                        color: $colorLimaBelas;
                        font-family: 'Varela', sans-serif;
                        background: rgba(255, 255, 255, 0.925);
                    }

                    .txt-input::placeholder{
                        color: $colorLimaBelas;
                        font-weight: 500;
                    }

                    i{
                        display: flex;
                        position: absolute;
                        top: 15px;
                        font-size: 12pt;
                        color: $colorLimaBelas;
                    }

                    .iconLeft{
                        left: 20px;
                    }

                    .eye{
                        right: 20px;
                    }
                }
            }
        }
    }

    // Section bawah
    .section-bawah{
        display: flex;
        flex-direction: column;
        height: 40vh;
        width: 100%;
        padding: 0 20px;

        .btn-sign-login{
            display: flex;
            height: 40%;
            width: 100%;
            justify-content: center;
            align-items: center;

            .btn-group{
                display: flex;
                height: 40px;
                width: 130px;
                border-radius: 500px;
                box-shadow: 0 2px 5px -1px rgba(0,0,0,0.5);
                border: none;
                justify-content: center;
                align-items: center;
                font-size: 10pt;
                color: #fff;
                outline: none;
                text-decoration: none;
            }

            .btn-sign{
                background-color: #aaa;
            }

            .btn-login{
                background-color: $colorTiga;
                margin-left: 10px;
            }
        }

        .column-or{
            display: flex;
            height: 60%;
            width: 100%;
            flex-direction: column;
            justify-content: center;

            .title-or{
                display: flex;
                position: relative;
                height: auto;
                width: 130px;
                margin: 0 auto;
                justify-content: center;
                align-items: center;

                .garis-kiri{
                    display: flex;
                    position: absolute;
                    height: 2px;
                    width: 50px;
                    background-color: #fff;
                    border-radius: 10px;
                    left: 0;
                }

                .garis-kanan{
                    display: flex;
                    position: absolute;
                    height: 2px;
                    width: 50px;
                    background-color: #fff;
                    border-radius: 10px;
                    right: 0;
                }

                .txt-or{
                    display: flex;
                    font-size: 10pt;
                    font-weight: 500;
                    color: #fff;
                }
            }

            .btn-icon-login{
                display: flex;
                height: auto;
                width: 100%;
                justify-content: center;
                margin-top: 15px;

                .icon-google{
                    display: flex;
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 500px;
                    padding: 5px;
                    margin: 5px;
                    background-color: #fff;
                    box-shadow: 0 2px 5px -1px rgba(0,0,0,0.5);
                }
            }
        }
    }
    // end Section bawah
}