@import '../../../util/variable/variable.scss';

.wrapper-namaProfil{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: $colorLimaBelas;

    .box-input-nama{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 40px;
        margin-top: 150px;
        text-align: center;
        align-items: center;

        .name{
            display: flex;
            font-size: 15pt;
            color: #fff;
        }

        form{
            display: flex;
            height: 40px;
            width: 100%;
            border-radius: 10px;
            margin-top: 20px;
            box-shadow: 0 3px 9px -1px rgba(0,0,0,0.2);
            overflow: hidden;
            
            .input-nama{
                display: flex;
                height: 100%;
                width: 100%;
                border: none;
                outline: none;
                padding: 20px; 
            }
        }
    }
}