.wrapper-alamat{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-bottom: 65px;

    .form-alamat{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0px 10px;
        margin-top: 70px;
        justify-content: start;
        text-align: start;
    }
}