
.form-alamat{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 0px 10px;
    justify-content: start;
    text-align: start;
    overflow: hidden;

    .labelGroup{
        display: flex;
        font-size: 10pt;
        font-weight: 500;
        color: #aaa;
        overflow: hidden;
    }

    .inputGroup{
        display: flex;
        height: 30px;
        width: 100%;
        font-size: 10pt;
        color: #555;
        border: none;
        outline: none;
        margin: 10px 0;
        border-bottom: 1px solid #555;
        overflow: hidden;
    }
}

