@import '../../util/variable/variable.scss';

.wrapper-detail-card{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;

    .title-nm-produk{
        display: flex;
        font-size: 15pt;
        color: $colorLimaBelas;
        margin: 0 20px;
        text-align: start;
    }

    .box-icon-detail{
        display: flex;
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        background-color: $colorTigaBelas;
        box-shadow: 0 1px 2px -1px rgba(0,0,0,0.1);
        right: 20px;
        top: 25px;
        z-index: 11;

        i{
            display: flex;
            font-size: 12pt;
            color: $colorEmpatBelas;
        }
    }

    // slider
    .slider-img-produk{
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        margin-top: 20px;
        background-color: #fff;
    }
    // end slider

    .img-produk{
        display: flex;
        height: auto;
        max-height: 350px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin-top: 20px;
    }

    // deskripsi
    .deskripsi-produk{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 10px 0px 0px 0px;
        background-color: #fff;

        // row kiri
        .rowKiri{
            display: flex;
            flex-direction: column;
            height: auto;
            width: auto;
            align-items: center;

            // label group
            .labelGroup{
                display: flex;
                font-size: 10pt;
                font-weight: normal;
            }
            // end label group
            
            // margin group
            .marginGroup{
                margin-top: 10px;
            }
            // end margin group

            .label-produk{
                display: flex;
                font-weight: bold;
                color: $colorSepuluh;
            }

            .name-produk{
                display: flex;
                font-size: 12pt;
                font-weight: bold;
                margin-top: 10px;
                color: #777;
            }

            .price-produk{
                display: flex;
                font-size: 16pt;
                font-weight: bold;
                color: $colorLimaBelas;
            }

            .stock-produk{
                display: flex;
                color: $colorLimaBelas;
            }
        }
        // end row kiri

        // paragrap Group
        .paragrapGroup{
            display: flex;
            font-size: 11pt;
            margin: 20px 0;
            padding: 0 30px;
            color: #aaa;
        }
        // end paragrap Group

        // For page transaksi
        .box-input-total{
            display: flex;
            height: auto;
            width: 100%;
            padding: 0 40px 40px 40px;
            justify-content: center;
            align-items: center;

            .btn-plus{
                display: flex;
                height: 30px;
                width: 30px;
                border-radius: 500px;
                border: 2px solid $colorLimaBelas;
                justify-content: center;
                align-items: center;
                font-size: 11pt;
                color: $colorLimaBelas;
                background: transparent;
                overflow: hidden;
                outline: none;

                i{
                    overflow: hidden;
                }
            }

            // .maxPlus{
            //     color: $colorDelapanBelas;
            //     border: 2px solid $colorDelapanBelas;
            //     cursor: not-allowed;
            // }

            .btn-minus{
                display: flex;
                height: 30px;
                width: 30px;
                border-radius: 500px;
                border: 2px solid $colorDelapanBelas;
                justify-content: center;
                align-items: center;
                font-size: 11pt;
                color: $colorDelapanBelas;
                background: transparent;
                overflow: hidden;
                outline: none;

                i{
                    overflow: hidden;
                }
            }

            // .maxMin{
            //     color: $colorLimaBelas;
            //     border: 2px solid $colorLimaBelas;
                
            //     cursor: not-allowed;
            // }

            .input-angka{
                display: flex;
                height: 25px;
                width: 150px;
                border: none;
                outline: none;
                text-align: center;
                font-size: 12pt;
                color: $colorLimaBelas;
                font-weight: bold;
            }
        }
        // END For Page transaksi

        // For Page transaksi
        .box-alamat-and-bayar{
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
            padding: 20px;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(239,239,245,0.6113795860140931) 100%);

            .wrapp-popUp-isi-alamat{
                display: none;
                position: absolute;
                bottom: 400px;
                height: auto;
                width: auto;
                left: 20px;
                right: 20px;
                padding: 20px 0;
                z-index: 999999999999;

                .popUp-isi-alamat{
                    display: flex;
                    height: auto;
                    width: 100%;
                    background-color: rgba(0,0,0,0.1);
                    border-radius: 10px;
                    text-align: start;
                    font-size: 11pt;
                    padding: 10px;
                    overflow: hidden;
                    animation: opacity 0.3s forwards;
                }
    
                .popUp-isi-alamat::after{
                    position: absolute;
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    left: 20px;
                    border-top: solid 20px rgba(0,0,0,0.1);
                    border-left: solid 15px transparent;
                    border-right: solid 15px transparent;
                    animation: opaBorder 0.3s forwards;
                }
            }

            

            .box-orange{
                display: flex;
                flex-direction: column;
                height: auto;
                width: 100%;
                border-radius: 20px;
                background-color: $colorLimaBelas;
                box-shadow: 0px 5px 15px -5px $colorLimaBelas;
                padding: 20px;
                color: #fff;

                .title-alamat{
                    display: flex;
                    font-size: 12pt;
                    font-weight: bold;
                }

                .container-btn-goAlamat{
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    width: 100%;
                    text-align: start;
                    margin-top: 10px;

                    .btn-goAlamat{
                        display: flex;
                    }
                }

                .container-alamat{
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    width: 100%;
                    text-align: start;
                    margin-top: 10px;

                    .btn-edit-alamat{
                        display: flex;
                        position: absolute;
                        height: auto;
                        width: 100px;
                        right: 15px;
                        border: none;
                        outline: none;
                        background-color: transparent;
                        font-size: 11pt;
                        color: #fff;
                    }

                    .nama-penerima{
                        display: flex;
                        color: #555;
                        margin-top: 20px;
                    }
                    
                    .txt-alamat{
                        display: flex;
                        font-size: 10pt;
                        text-align: start;
                    }
                }

                .fontGroup{
                    display: flex;
                    font-size: 11pt;
                }

                .pengiriman{
                    margin-top: 10px;
                }

                .img-jasaKurir{
                    display: flex;
                    height: 30px;
                    width: 100px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 3px;
                    margin: 5px 0;
                }

                .durasi{
                    display: flex;
                    color: #555;
                }

                .price-pengiriman{
                    align-items: center;

                    i{
                        margin-left: 5px;
                        overflow: hidden;
                    }
                }

                .box-jasa-transaksi{
                    display: flex;
                    height: auto;
                    width: 100%;
                    align-items: center;
                    margin-top: 10px;
                    
                    .logo-jasa{
                        display: flex;
                        height: 25px;
                        width: 70px;
                        object-fit: cover;
                        object-position: center;
                    }

                    .txt-name-jasa{
                        display: flex;
                        font-size: 11pt;
                        margin-left: 5px;
                    }
                }

                .garis-putih{
                    display: flex;
                    border: 1px solid #fff;
                    border-radius: 10px;
                    width: 100%;
                    margin-top: 20px;
                }

                .box-bayar{
                    display: flex;
                    height: auto;
                    width: 100%;
                    align-items: center;
                    margin-top: 20px;
                    justify-content: space-between;

                    .total-belanja{
                        display: flex;
                        font-size: 12pt;
                        font-weight: bold;
                        text-align: start;
                    }
                }
            }
        }
        // END For Page transaksi
    }
    // end deskripsi
}

@keyframes opacity{
    to{
        background-color: rgba(0,0,0,0.8);
    }
}

@keyframes opaBorder{
    to{
        border-top: solid 20px rgba(0,0,0,0.8);
    }
}