@import '../../util/variable/variable.scss';

.wrapper-detail-card{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;

    .title-nm-produk{
        display: flex;
        font-size: 15pt;
        color: $colorLimaBelas;
        margin: 0 20px;
        text-align: start;
    }

    .box-icon-detail{
        display: flex;
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        background-color: $colorTigaBelas;
        box-shadow: 0 1px 2px -1px rgba(0,0,0,0.1);
        right: 20px;
        top: 25px;
        z-index: 11;

        i{
            display: flex;
            font-size: 12pt;
            color: $colorEmpatBelas;
        }
    }

    // slider
    .slider-img-produk{
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        margin-top: 20px;
        background-color: #fff;
    }
    // end slider

    .img-produk{
        display: flex;
        height: auto;
        max-height: 350px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin-top: 20px;
    }

    // deskripsi
    .deskripsi-produk{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 10px 20px 10px 20px;
        background-color: #fff;

        // row kiri
        .rowKiri{
            display: flex;
            flex-direction: column;
            height: auto;
            width: auto;
            align-items: center;

            // label group
            .labelGroup{
                display: flex;
                font-size: 10pt;
                font-weight: normal;
            }
            // end label group
            
            // margin group
            .marginGroup{
                margin-top: 10px;
            }
            // end margin group

            .label-produk{
                display: flex;
                font-weight: bold;
                color: $colorSepuluh;
            }

            .name-produk{
                display: flex;
                font-size: 12pt;
                font-weight: bold;
                margin-top: 10px;
                color: #777;
            }

            .price-produk{
                display: flex;
                font-size: 16pt;
                font-weight: bold;
                color: $colorLimaBelas;
            }

            .stock-produk{
                display: flex;
                color: $colorLimaBelas;
            }
        }
        // end row kiri

        // paragrap Group
        .paragrapGroup{
            display: flex;
            font-size: 11pt;
            margin: 20px 0;
            padding: 0 30px;
            font-weight: bold;
            color: #bbb;
        }
        // end paragrap Group
    }
    // end deskripsi
}

