@import '../../util/variable/variable.scss';

.navbar{
    display: none;
    position: fixed;
    height: $heightNavHome;
    width: 100%;
    background: transparent;
    // box-shadow: $boxShdwNavPage;
    margin: 0 0 5px 0;
    z-index: 111;
    color: $colorTiga;
    transition: 0.100s ease-out;

    // Row1
    .row1-navbar{
        display: flex;
        width: 60%;
        padding: 0 0 0 10px;
        overflow: hidden;

        .link-brand-navbar{
            display: flex;
            text-decoration: none;
            align-items: center;

            // Name Brand
            .nm-brand-navbar{
                display: flex;
                align-items: center;

                // Link Img Profile
                .circ-img-profile-navbar{
                    display: flex;
                    height: 35px;
                    width: 35px;
                    border-radius: 500px;
                    margin: 10px 0px 10px 10px;
                    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.1);

                    .img-profile-navbar{
                        display: flex;
                        object-fit: cover;
                    }
                }
                // END Link Img Profile

                // Name Account User
                .name-act-user-navbar{
                    display: -webkit-box;
                    font-size: 10pt;
                    font-family: $fontFamilyJudul;
                    font-weight: $fontWeightJudul;
                    margin: 0 0px 0 5px;
                    text-align: start;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
                // END Name Account User
            }
            // END Name Brand
        }
    }
    // END Row1

    // Row2
    .row2-navbar{
        display: flex;
        flex-direction: row;
        width: 40%;
        align-items: center;
        justify-content: flex-end;
        padding: 0 20px 0 0;

        // Wrapp-box-icon
        .wrapp-box-icon-nav{
            display: flex;
            position: relative;
            padding-left: 5px;
            padding-top: 10px;
            padding-bottom: 5px;
        }
        // END Wrapp-box-icon

        .box-icon{
            display: flex;
            height: 35px;
            width: 35px;
            border-radius: 13px;
            justify-content: center;
            align-items: center;
            background-color: $colorTigaBelas;
            box-shadow: 0 1px 2px -1px rgba(0,0,0,0.1);
            text-decoration: none;

            .angka-notif-nav{
                display: flex;
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 500px;
                justify-content: center;
                align-items: center;
                font-size: 10pt;
                background-color: #fff;
                color: $colorLimaBelas;
                top: 0;
                left: 0;
            }

            i{
                display: flex;
                font-size: 11pt;
                color: $colorEmpatBelas;
                text-decoration: none;
            }
        }

        .iconCart{
            margin-right: 10px;
        }
    }
    // END Row2
}

.active{
    display: flex;
    background-color: $colorLimaBelas;
    box-shadow: 0px 5px 15px -5px $colorLimaBelas;
    transition: 0.100s ease-out;
    color: #fff;
}