@import '../../util/variable/variable.scss';

.wrapper-judulCard{
    display: flex;
    height: $heightJudul;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 0 0 20px;

    .txt-judul-judulCard{
        display: flex;
        font-size: $fontSizeJudul;
        font-family: $fontFamilyJudul;
        font-weight: $fontWeightJudul;
        font-style: $fontStyleJudul;
        color: $colorLima;
        margin-bottom: 10px;
    }
}