@import '../../util/variable/variable.scss';

.wrapp-boxCard{
    display: flex;
    height: auto;
    background-color: $colorSatu;
    box-shadow: 0 2px 15px -1px rgba(0,0,0,0.1);
    border-radius: 20px;

    .nav-btn-produk{
        position: absolute;
        height: auto;
        width: auto;
    }

    .img-produk{
        display: flex;
        height: auto;
        max-height: 140px;
        width: 100%;
    }

    .box-content-produk{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 5px 10px;
        align-items: center;

        // price Group
        .priceGroup{
            display: flex;
            font-size: 10pt;
            color: $colorLimaBelas;
            font-weight: bold;
            text-align: start;
        }
        // end price Group

        // name Group
        .nameGroup{
            display: flex;
            text-align: start;
            color: #555;
            font-weight: bold;
        }
        // end name Group

        .label-produk{
            display: flex;
            font-size: 8pt;
        }

        .name-produk{
            display: flex;
            font-size: 10pt;
            width: 100%;
            margin: 0 10px;
            text-overflow: ellipsis;
            justify-content: center;
            text-align: center;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }

        .stock{
            display: flex;
            font-size: 8pt;
            color: $colorLimaBelas;
        }

        // box Buy
        .btn-buy-produk{
            height: auto;
            width: 100%;
            background-color: $colorTiga;
            text-decoration: none;
        }
        // end Box Buy
    }
}