@import '../../util/variable/variable.scss';

.box-white{
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    border-radius: 10px;
    text-align: start;

    .btn-delete-card{
        position: absolute;
        width: auto;
        right: 10px;
        border: none;
        outline: none;
        background: transparent;
        top: 20px;

        i{
            display: flex;
            font-size: 14pt;
            color: $colorLimaBelas;
        }
    }

    .img-card{
        display: flex;
        border-radius: 8px;
        margin-right: 10px;
    }

    // line group
    .lineGroup{
        margin-top: 5px;
    }
    // end line group

    .label-food{
        display: flex;
        font-size: 10pt;
        color: $colorSepuluh;
        font-weight: bold;
    }

    .name-food{
        display: flex;
        font-size: 12pt;
        color: #555;
    }

    .price-food{
        display: flex;
        font-size: 10pt;
        font-weight: bold;
        color: $colorLimaBelas;
    }

    // box total beli
    .box-total-beli{
        position: absolute;
        height: auto;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        bottom: 10px;
        right: 0px;

        .total-dibeli{
            display: flex;
            font-size: 10pt;
            margin: 0 10px 0 0;
        }

        .input-total{
            display: flex;
            height: auto;
            width: auto;
            position: relative;

            // btn group
            .btnGroup{
                display: flex;
                position: absolute;
                height: 20px;
                width: 20px;
                background-color: $colorTiga;
                justify-content: center;
                align-items: center;
                border: none;
                outline: none;
                border-radius: 5px;
                
            }
            // end btn group

            .btn-mines{
                display: flex;
                left: 0;
            }

            .btn-plus{
                display: flex;
                right: 0;
            }

            .btnGroup{
                display: flex;
                font-size: 9pt;
                color: #fff;
            }

            .input-angka{
                display: flex;
                height: 20px;
                width: 80px;
                border: none;
                outline: none;
                text-align: center;
                border-radius: 20px;
            }
        }
    }
    // end box total beli
}

.btn-beli{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    outline: none;
    background: $colorTiga;
    border: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 11pt;
    font-weight: 500;
    box-shadow: 0 2px 5px -1px rgba(0,0,0,0.5);
}