@import '../../../util/variable/variable.scss';

// Wrapper
.wrapper-pageBeranda{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0px 0 80px 0;

    // Background atas
    .background-atas{
        display: flex;
        position: relative;
        height: 180px;
        width: auto;
        background-color: $colorTiga;
        border-bottom-left-radius: 8%;
        border-bottom-right-radius: 8%;
        overflow: hidden;

        .bg-makaroni{
            display: flex;
            position: absolute;
            height: 160px;
            width: 100%;
            border-bottom-left-radius: 10%;
            border-bottom-right-radius: 10%;
            object-fit: cover;
            object-position: bottom;
        }
    }
    // end Background atas

    // Section 2 - 5
    #secGroup{
        display: flex;
        flex-direction: column;
        height: auto;

        .box-group{
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
            justify-content: center;
            padding: 0px 10px 8px 10px;

            .boxSlide{
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: baseline;
            }
        }
    }
    // END Section 2 - 5

    // container promo akhir pekan
    .container-promo{
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.829) -15%, rgba(255, 255, 255, 0.144));

        .img-promo{
            display: flex;
            height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
        }

        .time-promo{
            display: flex;
            position: absolute;
            top: 15px;
            left: 15px;
            font-size: 15pt;
            text-shadow: 2px 2px rgba(255, 255, 255, 0.144);
            font-weight: bold;
            color: #fff;
            padding: 5px;
            text-align: start;
        }
    }
    // end container promo akhir pekan
}
// END Wrapper