@import '../../../util/variable/variable.scss';

// Wrapper
.wrapper-pageBeranda{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0px 0 80px 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(239,239,245,0.6113795860140931) 100%);

    // Section 1
    .section1-pageBeranda{
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 20px;
        margin: 0px 0 0px 0;
        background-color: #fff;

        .title-home{
            display: flex;
            position: absolute;
            left: 20px;
            top: 30px;
            font-size: 12pt;
            font-weight: bold;
            color: #555;
            align-items: center;

            i{
                display: flex;
                font-size: 12pt;
                margin-right: 5px;
            }
        }

        .box-icon{
            display: flex;
            height: 40px;
            width: 40px;
            border-radius: 15px;
            justify-content: center;
            align-items: center;
            background-color: $colorTigaBelas;
            box-shadow: 0 1px 2px -1px rgba(0,0,0,0.1);
            text-decoration: none;

            i{
                display: flex;
                font-size: 12pt;
                color: $colorEmpatBelas;
                text-decoration: none;
            }
        }

        .iconCart{
            margin-right: 10px;
        }
    }
    // END Section1

    // Profil
    .container-profil{
        display: flex;
        height: auto;
        width: 100%;
        padding: 20px 20px 40px 20px;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;

        .name-profil{
            display: flex;
            font-size: 12pt;
            color: $colorLimaBelas;
            font-weight: bold;
            text-align: start;
        }

        .img-profil{
            display: flex;
            height: 60px;
            width: 60px;
            border-radius: 500px;
            object-fit: cover;
            object-position: center;
            text-decoration: none;
        }
    }
    // END Profil

    // Container new produk
    .container-new-produk{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 20px;
        margin: 15px 0 0 0;

        .img-new-produk{
            display: flex;
            height: auto;
            max-height: 200px;
            width: 90%;
            border-radius: 20px;
            object-fit: cover;
            object-position: center;
        }
    }
    // END Container new produk

    // Section 2 - 5
    #secGroup{
        display: flex;
        flex-direction: column;
        height: auto;

        .box-group{
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
            justify-content: center;
            padding: 0px 12px 8px 12px;

            .boxSlide{
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: baseline;
            }
        }
    }
    // END Section 2 - 5

    // container promo akhir pekan
    .container-promo{
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.829) -15%, rgba(255, 255, 255, 0.144));

        .img-promo{
            display: flex;
            height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
        }

        .time-promo{
            display: flex;
            position: absolute;
            top: 15px;
            left: 15px;
            font-size: 15pt;
            text-shadow: 2px 2px rgba(255, 255, 255, 0.144);
            font-weight: bold;
            color: #fff;
            padding: 5px;
            text-align: start;
        }
    }
    // end container promo akhir pekan
}
// END Wrapper