@import '../../../util/variable/variable.scss';

.wrapp-detail-produk{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-bottom: 70px;

    // slider
    .slider-img-produk{
        display: flex;
        height: auto;
        width: 100%;
        margin-top: 50px;

        .img-produk{
            display: flex;
            height: 250px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    // end slider

    // deskripsi
    .deskripsi-produk{
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        text-align: start;
        padding: 20px 10px;
        border-bottom: 10px solid #ddd;

        // row kiri
        .rowKiri{
            display: flex;
            flex-direction: column;
            height: auto;
            width: 70%;

            // label group
            .labelGroup{
                display: flex;
                font-size: 10pt;
            }
            // end label group
            
            // margin group
            .marginGroup{
                margin-top: 10px;
            }
            // end margin group

            .label-produk{
                display: flex;
                font-weight: bold;
                color: $colorSepuluh;
            }

            .name-produk{
                display: flex;
                font-size: 12pt;
                margin-top: 10px;
                color: #000;
            }

            .price-produk{
                display: flex;
                font-size: 16pt;
                font-weight: bold;
                color: $colorSepuluh;
            }

            .stock-produk{
                display: flex;
                color: #000;
            }
        }
        // end row kiri

        // row kanan
        .rowKanan{
            display: flex;
            height: auto;
            width: 30%;
            padding: 0 0 0 5px;
        }
        // end row kanan
    }
    // end deskripsi

    // keterangan makaroni
    .keterangan-makaroni{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        text-align: start;
        padding: 20px 10px;
        border-bottom: 10px solid #ddd;

        // title group
        .titleGroup{
            display: flex;
            font-size: 12pt;
            font-weight: bold;
            margin-top: 0px;
        }
        // end title group

        // paragrap Group
        .paragrapGroup{
            display: flex;
            font-size: 11pt;
            margin-top: 15px;
        }
        // end paragrap Group

        .komposisi{
            display: flex;
            margin-top: 20px;
        }
    }
    // end keterangan makaroni

    // komen user
    .komen-user{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        text-align: start;
        padding: 20px 10px;

        .title-komen{
            display: flex;
            font-size: 12pt;
            font-weight: bold;
            margin-bottom: 10px;
        }

        // container komen user
        .container-komen-user{
            display: flex;
            height: auto;
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            margin-top: 10px;

            // row kiri
            .rowKiri-user{
                display: flex;
                flex-direction: column;
                height: auto;
                width: 95%;

                .profil-user{
                    display: flex;
                    height: auto;
                    width: 100%;
                    align-items: center;

                    .img-profil{
                        display: flex;
                        height: 30px;
                        width: 30px;
                        border-radius: 500px;
                        background-color: #fff;
                        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.5);
                        object-fit: cover;
                        object-position: center;
                        margin: 5px;
                    }

                    .name-profil{
                        display: flex;
                        font-size: 11pt;
                        font-weight: bold;
                        color: #777;
                    }
                }

                .paragraph-komen{
                    display: flex;
                    font-size: 10pt;
                    color: #555;
                    margin-left: 5px;
                    margin-top: 5px;
                }

                .date-komen{
                    display: flex;
                    font-size: 9pt;
                    color: #555;
                    margin-left: 5px;
                    margin-top: 5px;
                }
            }
            // end row kiri

            // row kanan
            .rowKanan-user{
                display: flex;
                height: auto;
                width: 5%;

                i{
                    display: flex;
                    margin-top: 5px;
                    font-size: 11pt;
                    color: #777;
                }
            }
            // end row kanan
        }
        // end container komen user
    }
    // end komen user
}