@import '../../../util/variable/variable.scss';

.wrapp-detail-produk{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(239,239,245,0.6113795860140931) 100%);
    
}