@import '../../../util/variable/variable.scss';

.wrapp-detail-produk{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(239,239,245,0.6113795860140931) 100%);
    // padding-bottom: 50px;

    .navBottom-detailP{
        display: flex;
        position: fixed;
        height: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 -2px 5px -1px rgba(0,0,0,0.3);
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;

        .title-tanya{
            display: flex;
            font-size: 12pt;
            color: $colorLima;
        }

        i{
            display: flex;
            font-size: 15pt;
            color: $colorLima;
            cursor: pointer;
            outline: none;
        }
    }
}