@import '../../../util/variable/variable.scss';

.wrapp-page-email{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: $colorLimaBelas;
    padding: 150px 40px 0 40px;
    align-items: center;

    .title-email{
        display: flex;
        font-size: 15pt;
        color: #fff;
        text-align: center;
    }
}