.wrapper-card-keranjang{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: auto;
    border-bottom: 2px solid #ddd;
    padding: 0 0 60px 0;
    margin: 10px 10px 0 10px;
}